
#header{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 80px;
    color: white;
    background-color: #009879;
    text-align: center;
}

#main{
    margin: 100px;
    background: url(images/xpkm4qqg96aa1.jpg);
    background-repeat: repeat-y;
}
h2{
    font-size: 20px;
    height: 45px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    background-color: lightgray;
    border-color: black;
    border-collapse: collapse;
    border-width: 10px;
    border-style:none;
    border-bottom: 10px #009879;
    width: 100%;
    padding: 12px 15px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


th{
    font-weight:bold;
    font-size: 20px;
    background-color: #009879;
    color: white;
     text-align: left;
    padding: 12px 15px;
}

td{
    padding: 12px 15px;
}
tr:nth-of-type(even){
    background-color:white;
}
tr:last-of-type{
    border-bottom: 10px solid #009879;
}

p{
    font-size: 20px;
    font-weight: 20px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
